<!doctype html>
<html>

<head>
    <title>Pie Chart</title>
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
</head>

<body>
<div id="canvas-holder" style="width:40%">
    <canvas id="chart-area"></canvas>
</div>
<script type="text/javascript" src="assets/javascripts/chartdemo.js" ></script>
<button id="randomizeData">Randomize Data</button>
<button id="addDataset">Add Dataset</button>
<button id="removeDataset">Remove Dataset</button>

</body>

</html>
