@(employee:Employee)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Employee Detail</title>
</head>
<body>



    <form method="post">
        @CSRF.formField
        First Name: <input type="text" name="firstName" id="firstName" value="@employee.getFirstName" minlength="1" maxlength="20" size="20">
        <br>

        @employee.getLastName
<br>
        @employee.getNotes
        <br>
        <input type="submit" value="save">

    </form>
    </body>
</html>