@(employees: List[Employee],searchCriteria: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<form method="get">
    <input type="text" name="searchCriteria" value="@searchCriteria">
    <input type="submit" value="Search">
</form>
<table>
<th>
    First Name
</th>
    <th>
        Last Name
    </th>
    <th>
        City
    </th>
    @for(employee <- employees)  {
    <tr>
        <td>
        @employee.getFirstName
        </td>
        <td>
            @employee.getLastName
        </td>
        <td>
            @employee.getCity
        </td>
    </tr>
    }
</table>
</body>
</html>