@(products: List[Product],searchCriteria: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<form method="get">
    <input type="text" name="searchCriteria" value="@searchCriteria">
    <input type="submit" value="Search">
</form>
<table>
    <th>
        Product Name
    </th>
    <th>
        Unit Price
    </th>
    @for(product <- products)  {
    <tr>
        <td>
            @product.getProductName
        </td>
        <td>
            @product.getUnitPrice
        </td>
    </tr>
    }
</table>
</body>
</html>