@(product:Product, categories:List[Category])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Product Detail</title>
</head>

<!-- formatted with breaks during changes -->
<body>
<div class="jumbotron">
<h1 align="center">@product.getProductName</h1>
</div>
<h1></h1>
<div class="container">
    <div>
        <br>
        <form method="post" class="form-control">
            @CSRF.formField
            Category Name:
            <select class="rounded" name="categoryId" id="categoryId">
                @for(category<-categories){
                @if(category.getCategoryId==product.getCategoryId){
                <option selected="selected" value="@category.getCategoryId">
                    @category.getCategoryName
                </option>
                }else{

                <option value="@category.getCategoryId">
                    @category.getCategoryName
                </option>
                }
                }
            </select>
            <br>
            <br>
            Product Name: <input class="rounded" type="text" name="productName" id="productName"
                                 value="@product.getProductName" minlength="1"
                                 maxlength="20" size="20">

            <br>
            Unit Price: @product.getUnitPrice
            <br>
            Units In Stock: @product.getUnitsInStock
            <br>
            Units On Order: @product.getUnitsOnOrder
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="save">
        </form>
    </div>
</div>
</body>
</html>