@(product:Product)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Product Detail</title>
</head>
<body>
<h1 align="center">@product.getProductName</h1>
<h1></h1>
<div class="container">
    <div>
    <form method="post" class="form-control">
        @CSRF.formField
        Product Name: <input class="rounded" type="text" name="productName" id="productName"
                             value="@product.getProductName" minlength="1"
                             maxlength="20" size="20">

        <br>
        Unit Price: @product.getUnitPrice
        <br>
       Units In Stock: @product.getUnitsInStock
        <br>
      Units On Order:  @product.getUnitsOnOrder
        <br>

        <input class="btn btn-primary" type="submit" value="save">
    </form>
    </div>
</div>
</body>
</html>